<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{0} - %msg%n"/>
        </Console>

        <RollingFile name="RollingFileInfo" fileName="logs/perf.log"
                     filePattern="logs/$${date:yyyy-MM}/app-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RollingFileInfo"/>
        </Root>

        <logger name="org.springframework" level="INFO"/>
        <logger name="org.apache.http" level="ERROR"/>
        <logger name="org.apache.http.headers" level="ERROR"/>
        <logger name="com.huaweicloud.dis.DISConfig" level="WARN"/>
        <logger name="com.huaweicloud.dis.util.config.ConfigurationUtils" level="WARN"/>

        <!-- DEBUG 表示显示MQTT上传的内容 -->
        <logger name="com.bigdata.dis.sdk.demo.producer.mqtt.MQTTClient" level="INFO"/>
        <!-- DEBUG 表示显示消费的记录内容 -->
        <logger name="com.bigdata.dis.sdk.demo.consumer.AppConsumerThread" level="DEBUG"/>
        <!-- DEBUG 表示显示Kafka消费的记录内容 -->
        <logger name="com.bigdata.dis.sdk.demo.consumer.kafka.AppKafkaConsumerThread" level="INFO"/>
        <!-- WARN 表示关闭统计信息打印 -->
        <logger name="com.bigdata.dis.sdk.demo.common.Statistics" level="INFO"/>

    </Loggers>
</Configuration>